# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Programs
alias sublime="/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl" # Sublime Text 3
alias youtube="youtube-dl -c -r 500k -o \"%(uploader)s.%(upload_date)s.%(stitle)s.$(ext)s\" --write-info --write-description"

# Shortcuts
alias p="cd ~/Projects"
alias t="~/bin/todo.sh"

# ls Shortcuts
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
else # OS X `ls`
    export LSCOLORS="gxfxcxdxbxegedabagacad"
    colorflag="-G"
fi

alias l="ls -l ${colorflag}"
alias la="ls -la ${colorflag}"
alias lsd="ls -l ${colorflag} | grep '^d'"
alias ls="command ls ${colorflag}"

# Enable aliases to be sudo'ed
alias sudo="sudo "

# IP Addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias lip0="ipconfig getifaddr en0"
alias lip1="ipconfig getifaddr en1"
alias lip2="ipconfig getifaddr en2"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"

# Recursively delete `.DS_Store` files
alias cleanup="find . type f -name '*.DS_Store -ls -delete"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.Finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.Finder AppleShowAllFiles -bool false && killall Finder"

# Show/hide desktop icons
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"

# URL-encode strings
alias urlencode="python -c 'import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);'"

# Enable/Disable Spotlight
alias spoton="sudo mdutil -a -i on"
alias spotoff="sudo mdutil -a -i off"
